.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: darksalmon;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav-logo h1 {
  margin-left: 3rem;
  font-size: 1, 5rem;
}

.main-nav-items {
  margin-right: 3rem;
}

.main-nav-items ul {
  display: flex;
  list-style: none;
  text-decoration: none;

}

.main-nav-items li {
  margin: 0 1rem;
}

.main-nav-items a,
.main-nav-items button {
  text-decoration: none;
  color: white;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

.main-nav-items a:hover,
.main-nav-items a:active,
.main-nav-items a.active,
.main-nav-items button:hover,
.main-nav-items button:active {
  color: black;
  background: rgba(236, 225, 225, 0.815);
}
