.bookings-list-wrapper {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 40rem;
  max-width: 90vw;

}

.bookings-list-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid pink;
  align-items: center;
}