.events-list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-item-title {
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize; 
}

.event-item-price {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.event-owner {
  margin: 0;
}